@* 
    <form method="post">
        <label>Seleccione una serie</label>
        <select name="oficio" class="form-control">
           @*  @foreach (string oficio in oficios)
            {
                <option value="@oficio">@oficio</option>
            } 
        </select>
        <button class="btn btn-outline-dark">
            Mostrar empleados
        </button>
    </form>
 *@
